version: "3.8"

services:
  app:
    build: .
    container_name: library-app
    ports:
      - "8080:8080"
    volumes:
      - h2-data:/data
    depends_on:
      - rabbitmq

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  h2-data:
