server:
  port: 8080

spring:
  application:
    name: library-management

  profiles:
    active: dev

  security:
    user:
      name: dev
      password: dev1234


  datasource:
    url: jdbc:h2:mem:librarydb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest


logging:
  level:
    org:
      springframework:
        security: DEBUG
jwt:
  secret: my-user-secret-key-my-super-very-very-secret-key
  expiration: 3600000